.header {
    box-shadow: 0px 0px 6px var(--main);
    padding: 14px 0;
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}